<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body style="text-align: left;background-image: url('static/bg1.jpg');background-repeat: no-repeat;background-size: cover;">
    <p style="color: white;font-weight: bold;font-size: 70px;padding-top: 0%;padding-left: 3%;padding-bottom: -10px;margin-top: 10%;">One Platform.<br>All Your Fleet Management<br>Needs<p>
    

    <p style="color: white;font-size: 28px;vertical-align: centre;font-family: Verdana, Geneva;padding-left: 4%;width: 850px;">
        Discover the art of seamless navigation with our Website.<br>
        weaving through real locations with precision.
    </p>

    <button onclick="location.href='/owner_page'" style="font-size: 25px;margin-left: 3%;margin-top: 20px;background-color: navy;color: white;font-weight: lighter;border-radius: 20px;padding: 15px 20px;border: none;">Create Delivery</button>

</body>
</html>